*{
    margin: 0;
    padding: 0;
    background-color: rgb(168, 216, 246); 
}
.intro{
    color: rgb(61, 30, 30);
    padding: 50px;
    margin-top: 20px;
    margin-left: 20px;
    text-decoration: solid  aqua;
}
