*{
    margin: 0;
    padding: 0;
 
}
.intro{
    color: rgb(61, 30, 30);
    padding-left: 70px;
    margin-top: 20px;
    margin-left: 20px;
    justify-content: center;
    text-decoration: solid  aqua;
}
.con  {
    line-height: 1.5;
}
.con2{
    line-height: 1.9;
}
.sub-heading{
    line-height: 1.4;
}